body {
  font-family: Arial, sans-serif;
  background-color: rgb(228, 205, 174);
  margin: 20px;
  display: flex;
  justify-content: center;
}

input {
  width: 70px;
}

h1, h2 {
  color: #333;
}

.menu, .order, .orders, .search-order {
  margin-bottom: 20px;
}

.menu-table, .order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.menu-table th, .menu-table td, .order-table th, .order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.menu-table th, .order-table th {
  background-color: #f2f2f2;
}

.complete-button, .save-button, .new-order-button, .edit-order-button, .remove-item-button, .add-item-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.complete-button:hover, .save-button:hover, .new-order-button:hover, .edit-order-button:hover, .remove-item-button:hover, .add-item-button:hover {
  background-color: #45a049;
}

.order-total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.completed {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}

.order-item button {
  margin-left: 10px;
}

.search-order input {
  padding: 10px;
  font-size: 14px;
  margin-right: 10px;
}

.search-order button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.search-order button:hover {
  background-color: #007bb5;
}
